<section id="servicos">
    <div class="container">
        <div class="col-xs-12 col-md-4 servico bercario" itemscope itemtype="http://schema.org/Product">
            <h2 itemprop="name">Berçário</h2>
            <p itemprop="description">
                A opção de colocar um bebê no berçário não é nada fácil. Muitas dúvidas irão surgir: cuidados, alimentação, higiene, interação e processo de desenvolvimento global. Mas nada melhor para os pais do que terem a certeza de que seus filhos estarão em um ambiente que será a extensão de sua casa, com uma equipe qualificada e extremamente acolhedora. <br /><br />
                <a href="/sobre">Conheça mais clicando aqui</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-4 servico educacao-infantil" itemscope itemtype="http://schema.org/Product">
            <h2 itemprop="name">Educação Infantil</h2>
            <p itemprop="description">
                Na Escola Eco Aprender a Educação Infantil está dividida em 4 grupos: Grupo 2 (2 anos), Grupo 3 (3anos), Grupo 4 (4 anos) e Grupo 5 (5anos).<br /><br />
                <a href="/sobre">Conheça mais clicando aqui</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-4 servico projeto-bilingue" itemscope itemtype="http://schema.org/Product">
            <h2 itemprop="name">Programa Bilíngue</h2>
            <p itemprop="description">
                A educação bilíngue hoje é uma realidade em muitas escolas no país! Certos de que esse nicho do ensino é capaz de melhorar a comunicação e aprendizado em geral, ampliar o conhecimento e cultura além de estimular o interesse pelo idioma, estamos trazendo mais essa possibilidade aos nossos alunos!<br /><br />
                <a href="/programa-bilingue">Conheça mais clicando aqui</a>
            </p>
        </div>
    </div>
</section>
