@{
    ViewBag.Title = "Sobre a Escola de Educação Infantil e Berçário Eco Aprender";
    ViewBag.MetaDescription = "Rua Euclides Pacheco, 1347 - Tatuapé. Todos os espaços da escola de educação infantil e berçário foram planejados por especialistas";
}

<section id="main">

    <header>
        <img src="/img/sobre-a-escola-eco-aprender.jpg" class="img-responsive img-principal" alt="Atividades ExtraCurriculares" />
    </header>

    <section id="navegacao-header" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/sobre" title="Sobre a Escola">Atividades ExtraCurriculares</a></li>
            </ul>
        </nav>
    </section>

    <section id="content" class="container pagina-interna">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    <h2><strong>Escola Eco Aprender</strong></h2>
                    <p class="texto-escuro">
                        Psicomotricidade: para alunos de 6 meses a 2 anos;
                    </p>
                    <p class="texto-escuro margin-top-30">
                        A Psicomotricidade é a ciência que tem como objeto de estudo o homem através do seu corpo em movimento e em relação ao seu mundo interno e externo.
                        As atividades em psicomotricidade são de fundamental importância no processo de maturação das crianças, é através do próprio corpo que elas realizam as aquisições cognitivas, afetivas e orgânicas. Nessas atividades, são trabalhadas de modo organizado e integrado, o movimento, que é a primeira forma de relacionar-se com o mundo.
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/sobre/eco-aprender-1.jpg" class="img-responsive img-rounded" alt="Sobre a Escola Eco Aprender" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        Educação Física: para todos os alunos a partir dos 2 anos; 
                    </p>
                    <p class="texto-escuro margin-top-30">
                        O ensino de Educação Física provém da área da Psicomotricidade para estimular o desenvolvimento motor e intelectual. Colaboram para a aquisição da coordenação motora fina e global, orientação de espaço e tempo, lateralidade e relacionam-se diretamente com a aprendizagem escolar.
                        Como já mencionado a apresentação da Educação física na escola proporciona ao indivíduo uma vida ativa, saudável e produtiva, desenvolvendo corpo, mente e espírito, proporcionando principalmente um equilíbrio como ser humano. 
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/sobre/eco-aprender-2.jpg" class="img-responsive img-rounded" alt="Sobre a Escola Eco Aprender" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        Somos, em todo nosso cotidiano, seres extremamente musicais, e uma das atividades extracurriculares mais queridas, sem dúvida é a Música.
                    </p>
                    <p class="texto-escuro margin-top-30">
                        Música: para todos os alunos a partir do Berçário;
                    </p>
                    <p class="texto-escuro margin-top-30">
                        A música é utilizada durante toda a educação infantil em suas diversas formas, sabendo dessa importância, a educação musical está sendo cada vez mais introduzida nas atividades pré-escolares, devido à importância que possuem no desenvolvimento intelectual, auditivo, sensorial, da fala e motor.
                        A música amplia as relações interpessoais e aproxima as pessoas, proporcionando integração à sociedade e facilidade de expressão e comunicação. Em contato com a música a criança melhora o seu convívio e aprimora as formas de comunicação. A música encanta, dá segurança emocional, confiança e respeito mútuo.
                        A música auxilia nos processos de alfabetização (significado e forma de falar), na matemática, e na aprendizagem de outros idiomas.

                        Ainda, a escola conta com profissionais de algumas áreas que realizam visitas e avaliações periódicas com as crianças.
                        Uma Dentista e Fonoaudióloga que realizam visitas semestrais oferecendo orientações e informações aos alunos em sua área de atuação, além de orientar aos pais. Verificam a necessidade de acompanhamento, oferecendo descontos em atendimentos em seus consultórios.
                        Possuímos também uma parceria com uma Psicóloga e Psicopedagoga que caso seja solicitada realiza avaliação em nossas crianças, oferecendo também descontos quando necessário o acompanhamento psicológico e/ ou psicopedagógico. Ainda, caso seja necessário tal acompanhamento, a escola se coloca à disposição e abre suas portas para um trabalho conjunto com essa profissional.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <p class="texto-escuro margin-top-46">
                        A prática de atividades físicas se faz importante em todas as idades da vida, portanto desenvolver o interesse por essas atividades é essencial logo na primeira infância.
                    </p>
                    <p class="margin-top-30">
                        <img src="~/img/sobre/eco-aprender-3.jpg" class="img-responsive img-rounded" alt="Sobre a Escola Eco Aprender" />
                    </p>
                    <p class="texto-escuro margin-top-30">
                        <strong>Algumas Vantagens de Ser Uma Criança Bilíngue</strong>
                    </p>
                    <p class="texto-escuro margin-top-30">
                        As atividades físicas possuem movimentos básicos como: saltar, estirar, dobrar, elevar, girar, deslizar, lançar-se e pular. Todas as nossas atividades extracurriculares que envolvem a parte física agregam tais movimentos além de possuírem suas particularidades.
                    </p>
                    <p class="margin-top-30">
                        <img src="~/img/sobre/eco-aprender-4.jpg" class="img-responsive img-rounded" alt="Sobre a Escola Eco Aprender" />
                    </p>
                    <p class="texto-escuro margin-top-30">
                        Na Escola Eco Aprender, contamos com profissionais especializados, que ministram aulas semanais nas áreas de:
                    </p>
                    <p class="texto-escuro margin-top-30">
                        Ballet: para as meninas a partir de 3 anos;
                    </p>
                    <p class="texto-escuro margin-top-30">
                        O Ballet é um das danças mais recomendadas para crianças pequenas, pois melhora a coordenação motora, colabora para o bem estar físico e emocional, auxilia na disciplina e torna a criança mais esforçada! Ainda, favorece a musicalidade, criatividade e trabalho em equipe, colaborando ainda com a boa postura, aumento da concentração, flexibilidade, resistência corporal, noção de espaço e melhora do equilíbrio.
                    </p>
                    <p class="margin-top-30">
                        <img src="~/img/sobre/eco-aprender-5.jpg" class="img-responsive img-rounded" alt="Sobre a Escola Eco Aprender" />
                    </p>
                    <p class="texto-escuro margin-top-30">
                        Capoeira: para todos os alunos a partir dos 2 anos.
                    </p>
                    <p class="texto-escuro margin-top-30">
                        Primeiramente a Capoeira deve ser uma brincadeira para as crianças. O principal benefício da Capoeira vai além do corpo, ela também ajuda as crianças a exercitarem a mente. Estimula a percepção da criança, trabalha a habilidade de interpretação e organização das informações, essenciais para essa fase de construção de conhecimento das crianças.
                        As brincadeiras apresentadas no ensino da Capoeira favorecem a coordenação motora, o campo visual, a criatividade, autoestima, automatização de movimentos e educa as crianças na administração do tempo e espaço dentro de um movimento. Como outros benefícios físicos a Capoeira ainda pode agregar resistência aeróbica e anaeróbica, velocidade, tônus muscular, agilidade, melhora nos reflexos e aumento da capacidade cardiorrespiratória. Em relação aos benefícios psicológicos, ela desperta a melhora na percepção e atenção, autocontrole, cooperação, respeito, disciplina e segurança de si.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="navegacao-footer" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/sobre" title="Sobre a Escola">Sobre a Escola Eco Aprender</a></li>
            </ul>
        </nav>
    </section>

</section>