@{
    ViewBag.Title = "Escola Eco Aprender - Facebook";
    ViewBag.MetaDescription = "Facebook da escola Eco Aprender no Tatuapé, Anália Franco. A melhor escola de educação infantil da zona leste";
}

<section id="main">
    <header>
        <img src="~/img/facebook.jpg" class="img-responsive img-principal" alt="Escola de Educação Infantil e Berçário Eco Aprender" />
    </header>

    <section id="navegaco-header" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" rel="nofollow" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/facebook" title="Facebook">Facebook</a></li>
            </ul>
        </nav>
    </section>

    <section id="atividades" class="container pagina-interna">
        <div class="row">
            <script src="//www.powr.io/powr.js?external-type=html"></script>
            <div class="powr-social-feed" id="311dc00b_1519431975"></div>
        </div>
    </section>

    <section id="navegaco-footer" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" rel="nofollow" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/facebook" title="Atividades">Facebook</a></li>
            </ul>
        </nav>
    </section>
</section>
