@model List<string>

@{
    ViewBag.Title = "Escola Infantil e Berçário Eco Aprender - Vídeos";
    ViewBag.MetaDescription = "Estas fotos mostram os alunos da escola Eco Aprender fazendo as atividades do dia a dia na escola";
}

<section id="main">

    <header>
        <img src="~/img/fotos.jpg" class="img-responsive img-principal" alt="Escola de Educação Infantil e Berçário Eco Aprender" itemprop="image" />
    </header>

    <section id="navegacao-header" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a rel="nofollow" href="@Url.Action("index", "Site")" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/fotos" title="Fotos" itemprop="name">Fotos</a><i class="fa fa-angle-right"></i></li>
            </ul>
        </nav>
    </section>

    <div class="gallery" id="gallery" style="width: 90%; text-align: center">

        @foreach (var foto in Model)
        {
            <div class="mb-3 pics animation all 2">
                <img class="img-fluid" src="~/@foto" alt="Fotos da escola Eco Aprender" style="border: 2px solid white; max-width: 200px">
            </div>
        }

    </div>

</section>