@{
    ViewBag.Title = "Escola Eco Aprender - Colaboradores do Infantil e Berçário";
    ViewBag.MetaDescription = "A Escola Eco Aprender no Tatuapé, Anália Franco, oferece berçário e educação infantil com Colaboradores qualificados para ensinar a melhor educação aos alunos";
}

<section id="main">
    <header>
        <img src="/img/professor.jpg" class="img-responsive img-principal" alt="Colaboradores da Escola de Educação Infantil e Berçário Eco Aprender" />
    </header>

    <section id="navegacao-header" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/professor" title="Colaboradores da Escola Eco Aprender">Colaboradores</a></li>
            </ul>
        </nav>
    </section>

    <section id="content" class="container pagina-interna">
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div>
                    <h2 class="texto-escuro titulo-mobile"><strong>Colaboradores da Escola de Educação Infantil e Berçário Eco Aprender</strong></h2>
                    <h3><strong>Direção, Coordenação e Secretaria da Escola Eco Aprender</strong></h3>
                    <p class="texto-escuro">
                        O corpo diretivo da <strong>Escola Eco Aprender</strong> é formado pela <strong>diretora</strong> e mantenedora <strong>Priscila Alves Antunes</strong> e pela <strong>coordenadora pedagógica</strong> Maria Aparecida. São elas que lidam diretamente com os <strong>pais de alunos</strong>, cada uma com sua função. Na direção, a Priscila responde por toda e qualquer <strong>questão da escola</strong>, principalmente na parte <strong>financeira e administrativa</strong>. Na <strong>coordenação</strong>, a Maria Aparecida trabalha com as <strong>professoras, alunos, demais funcionários da escola</strong>, além de <strong>atendimento a pais</strong>. Na <strong>secretaria</strong>, temos a Tamara que fica responsável pelo <strong>atendimento telefônico, pela alimentação do site, por compra e venda de uniformes</strong> entre outros relacionados ao operacional da escola.
                        Estamos sempre a disposição dos senhores pais para qualquer questão!
                        Conte com nossa <strong>equipe</strong>!
                    </p>
                    <p class="margin-top-30">
                        <img src="~/img/professores/professores-da-escola-eco-aprender-1.jpg" class="img-responsive img-rounded" alt="Colaboradores da Escola Eco Aprender" />
                    </p>

                    <h2><strong>Professoras da Escola Eco Aprender</strong></h2>
                    <p class="texto-escuro">
                        A Escola Eco Aprender, conta com uma <strong>equipe de professoras especializadas</strong> para aplicarem o <strong>conteúdo programático</strong> voltado ao <strong>educando</strong>, respeitando a faixa etária de cada um, além do ritmo, compreensão e tempo que cada <strong>criança</strong> apresenta diante do conteúdo apresentado. As professoras estão sempre empenhadas em <strong>construir conhecimentos, estimular os sentidos e a socialização entre as crianças</strong>, através de atividades relacionadas à afetividade e ao emocional de cada um.
                    </p>
                    <p class="texto-escuro margin-top-30">
                        As crianças <strong>desenvolvem</strong> um mesmo conteúdo em espaços diferentes da <strong>sala de aula</strong>, ou seja, utilizam a <strong>brinquedoteca, a sala de vídeo, a quadra,</strong> entre outros, aprendendo o conteúdo de maneira <strong>lúdica</strong>. Com isso, as crianças estão sempre motivadas e captam os conceitos com maior <strong>facilidade.</strong>
                    </p>
                    <p class="margin-top-30">
                        <img src="~/img/professores/professores-da-escola-eco-aprender-2.jpg" class="img-responsive img-rounded" alt="Colaboradores da Escola Eco Aprender" />
                    </p>

                    <h2><strong>A Escola Eco Aprender é formada pelo grupo de professoras:</strong></h2>
                    <p class="texto-escuro">
                        <strong>Auxiliares de classe da Escola Eco Aprender</strong>
                    </p>
                    <p class="texto-escuro">
                        A Escola Eco Aprender, conta com uma equipe de <strong>auxiliares competentes</strong> que estão sempre com as professoras. São <strong>profissionais que auxiliam</strong> no banho, trocas de fraldas, na higiene em geral, assim como nas atividades em sala de aula, parque, alimentação, enfim todas as necessidades que as crianças e as professoras precisam.
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/professores/professores-da-escola-eco-aprender-3.jpg" class="img-responsive img-rounded" alt="Colaboradores da Escola Eco Aprender" />
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <p class="texto-escuro margin-top-15">
                        <strong>Auxiliares de serviços gerais da Escola Eco Aprender</strong>
                    </p>
                    <p class="texto-escuro">
                        A Escola Eco Aprender, conta com uma equipe de <strong>limpeza, cozinha e portaria</strong> de total confiança. São esses profissionais que ajudam a fazer a <strong>diferença!</strong> No portão de entrada, as crianças são recebidas com todo <strong>carinho</strong> logo que chegam à escola, assim como temos a <strong>segurança</strong> durante o dia e até o momento em que todas forem embora. Quando as crianças chegam, a escola já está <strong>limpa</strong> e assim é conservada durante todo o dia e podemos contar com a profissional da limpeza para qualquer incidente, intercorrência ou até mesmo para a limpeza no dia de um evento interno. Já a <strong>auxiliar de cozinha</strong>, têm uma responsabilidade muito grande perante toda a escola, uma vez que é ela quem prepara a <strong>alimentação</strong> do dia inteiro para as crianças, assim como <strong>esteriliza chupetas e mamadeiras</strong> e tem todo o cuidado com a <strong>higiene na cozinha</strong>. São pessoas <strong>organizadas</strong> e de potencial.
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/professores/professores-da-escola-eco-aprender-4.jpg" class="img-responsive img-rounded" alt="Colaboradores da Escola Eco Aprender" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        <strong>Colaboradores de atividades extracurriculares da Escola Eco Aprender</strong>
                    </p>
                    <p class="texto-escuro">
                        Na Escola Eco Aprender, contamos com profissionais especializados nas áreas de :
                        <ul>
                            <li><strong>Ballet:</strong>  para as meninas a partir de 3 anos;</li>
                            <li><strong>Música:</strong> para todos os alunos a partir do Berçário;</li>
                            <li><strong>Inglês:</strong> para todos os alunos a partir dos 2 anos;</li>
                            <li><strong>Capoeira:</strong> para todos os alunos a partir dos 2 anos.</li>
                        </ul>
                        Os Colaboradores dessas áreas específicas, ministram aulas semanais, porém o inglês tem uma carga horária com duas aulas por semana.
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/professores/professores-da-escola-eco-aprender-5.jpg" class="img-responsive img-rounded" alt="Colaboradores da Escola Eco Aprender" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        <strong>Profissionais com formação acadêmica</strong>
                    </p>
                    <p class="texto-escuro">
                        Tais profissionais, trabalham conosco como forma de orientação:
                        <ul>
                            <li><strong>Dentista e Fonoaudióloga:</strong> fazem triagem com todas as crianças da escola, duas vezes por ano. A dentista trabalha também com teatrinho de fantoches para incentivar a escovação dos dentinhos. Ambas relatam aos pais a necessidade ou não de um tratamento, ficando a disposição para orientações e horários para atendimento nos consultórios;</li>
                            <li><strong>Psicóloga e Psicopedagoga:</strong> fazem visitas periódicas para crianças a partir dos 3 anos. Havendo maior necessidade tanto do lado escolar como a pedido dos pais, as mesmas são solicitadas para uma visita eventual;</li>
                            <li><strong>Nutricionista:</strong> elabora o cardápio da Eco Aprender, com o cuidado em manter uma alimentação sempre rica e balanceada. Nosso cardápio é supervisionado semanalmente.</li>
                        </ul>
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/professores/professores-da-escola-eco-aprender-6.jpg" class="img-responsive img-rounded" alt="Colaboradores da Escola Eco Aprender" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        <strong>Saiba mais:</strong>
                        <ul>
                            <li><a href="/sobre" title="Sobre a Escola"><strong>Sobre a Escola:</strong> saiba mais sobre a nossa filosofia de trabalho e nossa proposta pedagógica;</a></li>
                            <li><a href="/atividades" title="Atividades"><strong>Atividades:</strong> acompanhe as atividades que estão sendo executadas pelas crianças dentro da escola.</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="navegacao-footer" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/professor" title="Colaboradores da Escola Eco Aprender">Colaboradores</a></li>
            </ul>
        </nav>
    </section>

</section>