@{
    ViewBag.Title = "Sobre a Escola de Educação Infantil e Berçário Eco Aprender";
    ViewBag.MetaDescription = "Rua Euclides Pacheco, 1347 - Tatuapé. Todos os espaços da escola de educação infantil e berçário foram planejados por especialistas";
}

<section id="main">

    <header>
        <img src="~/img/programa-bilingue.jpg" class="img-responsive img-principal" alt="Programa Bilíngue" />
    </header>

    <section id="navegacao-header" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/programa-bilingue" title="Sobre a Escola">Programa Bilíngue</a></li>
            </ul>
        </nav>
    </section>

    <section id="content" class="container pagina-interna">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    <h2><strong>Programa Bilíngue</strong></h2>
                    <p class="texto-escuro">
                        Após muitas pesquisas, verificação de mercado e comunicação com os pais, a Escola Eco Aprender percebeu que os <strong>Programas Bilíngues</strong> já são uma realidade na atualidade da <strong>Educação Infantil.</strong> Muitos estudos comprovam que a <strong>aprendizagem de uma língua estrangeira</strong> logo na primeira infância traz muitos benefícios para a criança, mesmo que, essa língua caia em desuso ao longo da vida, o impacto já causado na <strong>área do cérebro</strong> correspondente à <strong>percepção da fala,</strong> será forte o suficiente para que traços da mesma se manifestem agilizando um processo de reaprendizagem futuro.
                    </p>

                    <p class="texto-escuro margin-top-30">
                        Após uma seleção rigorosa identificamos que o Programa Bilíngue da <strong>2Ways</strong> atendia às necessidades de nossa escola e de nossos alunos, celebramos essa <strong>parceria para nosso Programa Bilíngue.</strong>
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/programa-bilingue/escola-eco-aprender-1-600.jpg" class="img-responsive img-rounded" alt="Barco do Pirata" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        A grande diferença desde processo se dá no <strong>número de aulas, são aulas diárias, ou seja, 5 vezes por semana, com duração de 50 minutos,</strong> além de que essas <strong>aulas</strong> são ministradas em <strong>inglês, todo o tempo.</strong>
                    </p>

                    <p class="texto-escuro margin-top-30">
                        A profissional responsável utiliza dos recursos pedagógicos oferecidos pela 2Ways, além de vídeos, música, brincadeiras, trazendo a realidade do dia-a-dia das crianças para uma segunda língua, aprendendo concomitantemente em português e em inglês.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <p class="texto-escuro">
                        <h2><strong>Algumas Vantagens de Ser Uma Criança Bilíngue</strong></h2>
                    </p>

                    <p class="texto-escuro">
                        <strong>*Melhora na Comunicação –</strong> Claro que a capacidade de entendimento e comunicação na língua estrangeira são aumentadas caso esteja em viagens ou contato com estrangeiros, porém é sabido que existe a melhora na comunicação global das crianças, influenciando as duas línguas e melhorando sua capacidade de ler e escrever futuramente.
                    </p>

                    <p class="margin-top-30">
                        <img src="~/img/programa-bilingue/escola-eco-aprender-39-600.jpg" class="img-responsive img-rounded" alt="Barco do Pirata" />
                    </p>

                    <p class="texto-escuro margin-top-30">
                        <strong>*Aprimoramento Cultural -</strong> O acesso à duas culturas diferentes frente à literatura, às histórias, a diferentes comportamentos, tradições, conversações, meios de comunicação, proporcionam maior amplitude de vivências para as crianças.
                    </p>

                    <p class="texto-escuro margin-top-30">
                        <strong>*Amplitude de Conhecimento - </strong>Quanto mais conhecimento, mais desenvolvido será o raciocínio de uma criança bilíngue. Esse conhecimento torna as crianças mais criativas, mais flexíveis, e com uma mente mais aberta ao mundo e às pessoas.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="navegacao-footer" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/programa-bilingue" title="Programa Bilíngue">Programa Bilíngue</a></li>
            </ul>
        </nav>
    </section>

</section>