@{
    ViewBag.Title = "Sobre a Escola de Educação Infantil e Berçário Eco Aprender";
    ViewBag.MetaDescription = "Rua Euclides Pacheco, 1347 - Tatuapé. Todos os espaços da escola de educação infantil e berçário foram planejados por especialistas";
}

<section id="main">
    <header>
        <img src="/img/sobre/eco-aprender-header.jpg" class="img-responsive img-principal" alt="Escola Eco Aprender" />
    </header>

    <section id="navegacao-header" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/sobre" title="Sobre a Escola">Sobre a Escola Eco Aprender</a></li>
            </ul>
        </nav>
    </section>

    <section id="content" class="container pagina-interna">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div>
                        <h2><strong>ESCOLA ECO APRENDER</strong></h2>
                        <p class="texto-escuro">
                            A partir de 2020, a <strong>Escola de Educação Infantil e Berçário Eco Aprender</strong>, localizada no bairro do <strong>Tatuapé</strong> há 15 anos, adotou um novo método de trabalho em parceria com o <strong>SAE Digital (SAE: Saber, Agir, Evoluir)</strong>. O que  proporcionará aos alunos uma proposta de ensino-aprendizagem interativa, por meio de Realidade Aumentada inclusa na capa e em algumas páginas da apostila, bem como o ensino híbrido e metodologias ativas.
                        </p>

                        <p class="texto-escuro margin-top-30">
                            Conta também com uma abordagem atualizada, a <strong>HIPERATUALIZAÇÃO</strong>, exclusiva aos materiais <strong>SAE Digital</strong>, renovada bimestralmente, de acordo com a <strong>BNCC (Base Nacional Comum Curricular)</strong>, que têm como eixos estruturantes as <strong>interações e brincadeiras</strong>.
                        </p>

                        <p class="margin-top-30">
                            <img src="~/img/sobre/escola-eco-aprender-30-600.jpg" class="img-responsive img-rounded" alt="Barco do Pirata" />
                        </p>

                        <p class="texto-escuro margin-top-30">
                            Essa coleção apresenta como tema geral: <strong>“A criança e o mundo”</strong>, conta também com <strong>canções, textos e sons em suas cinco unidades</strong>.
                        </p>

                        <p class="texto-escuro margin-top-30">
                            A <strong>Escola Eco Aprender</strong> não está preocupada somente com a formação acadêmica, mas também com os aspectos <strong>motores e hábitos alimentares</strong> adquiridos durante o período <strong>escolar</strong>.
                        </p>

                        <p class="margin-top-30">
                            <img src="~/img/sobre/escola-eco-aprender-entrada-1-600.jpg" class="img-responsive img-rounded" alt="Fachada da Escola Eco Aprender" />
                        </p>

                        <p class="texto-escuro margin-top-30">
                            É por meio de <strong>brincadeiras, experiências, explorações, tentativas, desafios, rodas de conversa, histórias, faz-de-conta, jogos, vivências e interação</strong> com seus pares que a criança cria sua identidade e a partir daí, começa a entender quem a rodeia, suas necessidades e qual o seu papel no mundo: sendo <strong>solidário, resiliente, cooperativo e empático</strong>.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div>
                        <p class="texto-escuro margin-top-46">
                            É papel da <strong>Educação Infantil</strong> contribuir para o desenvolvimento dos aspectos: <strong>físicos, psicológicos, intelectuais e sociais</strong>, formando assim, um sujeito na sua integralidade.Para tal, contamos com <strong>profissionais de música, robótica, nutrição, capoeira, dança e socioemocional</strong>. Esses são profissionais de aulas extras.
                        </p>

                        <p class="margin-top-30">
                            <img src="~/img/sobre/escola-eco-aprender-43-600.jpg" class="img-responsive img-rounded" alt="Sala de Artes" />
                        </p>

                        <p class="texto-escuro margin-top-30">
                            A criança também é imersa na <strong>língua inglesa</strong> desde os <strong>2 anos</strong>, com <strong>aulas</strong> diárias de 50 minutos.
                        </p>

                        <p class="texto-escuro margin-top-30">
                            Sabendo da latente preocupação dos pais com seus pequenos durante o período escolar, contamos com uma <strong>equipe especializada</strong>: porteiro, educadores e auxiliares de sala, cozinheiras, profissional de limpeza, secretária, direção e coordenação, todos altamente <strong>qualificados</strong> para atender as necessidades de cada um.
                        </p>

                        <p class="margin-top-30">
                            <img src="~/img/sobre/escola-eco-aprender-44-600.jpg" class="img-responsive img-rounded" alt="Eco Quadra" />
                        </p>

                        <p class="texto-escuro margin-top-30">
                            Nossos <strong>alunos</strong> são acolhidos com muito amor, desde sua chegada até o momento da saída, com segurança e carinho em todos os momentos, para que se recorde com alegria as horas passadas na <strong>escola</strong>.
                        </p>

                        <p class="margin-top-30">
                            <img src="~/img/sobre/escola-eco-aprender-aguaplay-2-600.jpg" class="img-responsive img-rounded" alt="AguaPlay" />
                        </p>

                        <p class="texto-escuro margin-top-30">
                            A <strong>escola Eco Aprender</strong> sempre disponibiliza <strong>cursos e palestras</strong> de excelência aos seus <strong>funcionários</strong>, para que estes, estejam sempre desenvolvendo sua formação continuada estando assim, sempre atualizados para contribuir com o <strong>desenvolvimento das crianças</strong>.
                        </p>

                    </div>
                </div>
            </div>

            <!-- Berçário e Educação Infantil -->
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="texto-escuro margin-top-46">
                        <h2><strong>BERÇÁRIO</strong></h2>
                        <p>A opção de colocar um <strong>bebê no berçário</strong> não é nada fácil. Muitas dúvidas irão surgir: cuidados, alimentação, higiene, interação e processo de <strong>desenvolvimento</strong> global. Mas nada melhor para os pais do que terem a certeza de que seus filhos estarão em um ambiente que será a extensão de sua casa, com uma equipe qualificada e extremamente acolhedora. </p>
                        <p>Um lugar que foi minuciosamente pensado e projetado para atender as necessidades da <strong>primeira infância</strong>.  É aqui na <strong>Escola Eco Aprender</strong> que vocês, pais, encontrarão essas respostas. </p>
                        <p>Os pequenos são muito <strong>bem recebidos e acolhidos</strong>, sendo um <strong>ambiente prazeroso e inovador</strong>, no qual eles sempre irão querer voltar.  Esse é o nosso papel.</p>
                        <p>No <strong>berçário</strong> a relação interpessoal é fundamental para que se crie a <strong>própria identidade e autonomia</strong>. Nas <strong>brincadeiras</strong> com seus pares nossos pequenos irão desenvolver aspectos: <strong>motores, psicomotores, sociais, emocionais, linguísticos</strong> etc. No berçário há também uma grande atenção no que diz respeito à <strong>alimentação e higiene</strong>. A alimentação é baseada em um cardápio feito por uma competente <strong>nutricionista</strong> e elaborada com todo carinho pelas <strong>cozinheiras</strong>.</p>
                        <p>As crianças do <strong>berçário</strong> são divididas em 2 grupos: Grupo 1A e Grupo 1B. </p>
                        <p>O Grupo 1A abrange crianças de 4 meses à 1 ano e o Grupo 1B abrange crianças de 1 ano à 1 ano e 11 meses, com <strong>turmas pequenas</strong> para que todos possam ter atenção e cuidados necessários. </p>
                        <p>Ao passar pelo período de adaptação, as crianças começam a explorar outros ambientes da <strong>escola</strong>, a fim de possibilitar infindáveis descobertas que são de suma importância nessa idade. Essa é a <strong>missão da Escola Eco Aprender!</strong></p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="texto-escuro margin-top-46">
                        <h2><strong>EDUCAÇÃO INFANTIL</strong></h2>
                        <p>Na <strong>Escola Eco Aprender a Educação Infantil</strong> está dividida em 4 grupos: Grupo 2 (2 anos), Grupo 3 (3anos), Grupo 4 (4 anos) e Grupo 5 (5anos).</p>
                        <p>Aqui na <strong>escola Eco Aprender</strong> os objetivos da <strong>educação infantil</strong> vão muito além da Aprendizagem, a nossa intenção é proporcionar às crianças um ambiente no qual eles possam estabelecer vínculos, criar, brincar, explorar, experimentar, e conhecer seu próprio mundo, tão cheio de novidades.</p>
                        <p>Nesta fase, as crianças circulam ainda mais pelos ambientes escolares, ficando aproximadamente 30 minutos em cada um deles. As <strong>atividades pedagógicas</strong> não são feitas somente nas salas de aula. A mesma temática é explorada em várias oficinas, com uma perspectiva transdisciplinar, utilizando múltiplas linguagens. É por meio de explorações, brincadeiras, experimentos, culinária, rodas de conversa e de histórias, faz-de-conta, jogos, hipóteses, danças, que a habilidade de cada um é desenvolvida, para que a criança se torne competente no sentido mais amplo da palavra. Sendo assim, cidadãos críticos, argumentativos, resilientes, empáticos e livres.</p>
                        <p>A <strong>Escola Eco Aprender</strong> realiza dois grandes encontros anuais: Oficina Cultural, sempre por meio da interação e a Oficina de leitura, nesta as crianças elaboram um livro trabalhando tudo aquilo que foi desenvolvido até o momento. O tema de ambos está ligado ao tema gerador anual.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 margin-top-46">
                    <h2><b>GALERIA DE FOTOS DA ESCOLA ECO APRENDER</b></h2>
                </div>

                <figure>
                    <div class="col-xs-12 col-md-6">
                        <img src="~/img/sobre/escola-eco-aprender-entrada-1-600.jpg" class="img-responsive img-rounded" alt="Fachada da Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-entrada-2-600.jpg" class="img-responsive img-rounded" alt="Fachada da Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-entrada-3-600.jpg" class="img-responsive img-rounded" alt="Fachada da Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-aguaplay-1-600.jpg" class="img-responsive img-rounded" alt="AguaPlay" />
                        <img src="~/img/sobre/escola-eco-aprender-aguaplay-2-600.jpg" class="img-responsive img-rounded" alt="AguaPlay" />
                        <img src="~/img/sobre/escola-eco-aprender-2-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-3-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-4-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-5-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-6-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-7-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-8-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-9-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-10-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-11-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-12-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-13-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-14-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-15-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-16-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-17-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-18-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-19-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-20-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <img src="~/img/sobre/escola-eco-aprender-21-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-22-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-23-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-24-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-25-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-26-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-27-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-28-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-29-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-30-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-31-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-32-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-33-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-34-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-35-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-36-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-37-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-38-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-40-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-41-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-42-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-43-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-44-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                        <img src="~/img/sobre/escola-eco-aprender-45-600.jpg" class="img-responsive img-rounded" alt="Escola Eco Aprender" />
                    </div>
                </figure>
            </div>
        </div>
    </section>

    <section id="navegacao-footer" class="div-veja-mais MarginTop30">
        <nav class="container">
            <ul>
                <li><a href="/" title="Escola de Educação Infantil e Berçário Eco Aprender">Escola de Educação Infantil e Berçário Eco Aprender</a><i class="fa fa-angle-right"></i></li>
                <li><a href="/sobre" title="Sobre a Escola">Sobre a Escola Eco Aprender</a></li>
            </ul>
        </nav>
    </section>

</section>